/* font family */

@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

/* univarsal style */

/* main hedaer and nav bar */

body {
    margin: 0;
}

.nav-main {
    display: flex;
    align-items: center;
    padding: 28px 130px;
    gap: 48px;
}

.main-monito-logo {
    width: 115px;
    height: 40px;
    position: relative;
    z-index: 1;  
}

.nav-details {
    font-size: 16px;
    color: var(--Primary-Color-Dark-Blue, #003459);
    font-weight: 700;
    text-decoration: none;
    font-family: SVN-Gilroy;   
}

.search-icon {
    border: none;
    background-color: #fff;
    color: var(--Neutral-Color-40, #99A2A5);
    font-size: 14px;
 }

 
.search-space {
    font-family: SVN-Gilroy;
    font-size: 14px;
    color: var(--Neutral-Color-40, #99A2A5);
    border: none;
    font-weight: 500;
    height: 20px;
    border-radius: none;
    outline: none;
    padding-right: 20px;
}

.search-container {
    width: 280px;
    height: 44px;
    border-radius: 46px;
    background: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    align-items: center;
    padding-left: 16px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.search-space:hover {
    border-color: #fff;
}

.join-community a{
    text-decoration: none;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    width: 147px;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 14px 28px 10px 28px;
    gap: 10px;
    border-radius: 57px;
    font-weight: 700;
    font-size: 16px;
    font-family: SVN-Gilroy; 
    margin-left: -35px;
}

.vnd-icon {
    margin: -44px;
}

.checkbtn {
    width: 32px;
    height: 32px;
    color: #00171F;
    cursor: pointer;
    display: none;
}

/* setion start */

.container {
    display: flex;
}

.container {
    display: flex;
    width: 1180px;
    padding: 22px 20px;
    align-items: flex-start;
    gap: 34px;
    border-radius: 20px;
    border: 1px solid var(--Neutral-Color-10, #EBEEEF);
    background: var(--Neutral-Color-00, #FDFDFD);
    margin-left: 130px;
    margin-right: 130px;
    height: 924px;
}

.link-arrow {
    position: relative;
    left: -550px;
    top: -215px;
    z-index: 1;
}

.link-arrow-1{
    position: relative;
    top: -215px;
    left: -125px;
}

.little-img-dog {
    display: flex;
    gap: 12px;
    margin-top: 4px;
}

.guarantee-pets {
    display: flex;
    width: 536px;
    height: 30px;
    background: var(--Neutral-Color-00, #FFE7BA);
    padding: 9px 12px 9px 12px;
    border-radius: 10px;
    gap: 12px;
    margin-top: 25px;
}

.img-parcent {
    display: flex;
}

.img-parcent h3 {
    font-family: SVN-Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
    padding-left: 8px;
    position: relative;
    bottom: 5px;
}

.share {
    display: flex;
    gap: 21px;
    margin-top: 25px;
    margin-left: 5px;
}

.sku {
    font-family: SVN-Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--Neutral-Color-40, #99A2A5);
}
.shiba {
    font-family: SVN-Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: var(--Neutral-Color-100, #00171F);
}

.shiba-price {
    font-family: SVN-Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
    margin-top: -10px;
}

.contact-btn {
    height: 44px;
    padding: 14px 28px 10px 28px;
    border-radius: 57px;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    cursor: pointer;
    border: none;
}

.monito-btn {
    height: 44px;
    padding: 14px 28px 10px 24px;
    border-radius: 57px;
    border: 2px solid var(--Primary-Color-Dark-Blue-80, #002A48);  
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
    position: relative;
    top: 16px;
    left: 20px;
    cursor: pointer;
}

.chat-btn-name {
    position: relative;
    bottom: 15px;
}

.chat-img {
    position: relative;
    bottom: 4px;
}

.shiba-container {
    display: flex;
    position: relative;
    top: 300px;
    right: 299px;
    width: 194px;
    padding: 4px 11px 2px 11px;
    align-items: center;
    color: var(--Neutral-Color-60, #667479);
    right: 387px;
    padding-top: 2px;
}

.hr {
    color: var(--Neutral-Color-100, #00171F);
    position: relative;
    width: 250px;
    
}

.responsive-img {
    display: none;
}

/* lovely container section */

.our-lovely-customer {
    margin-left: 130px;
    margin-top: 40px;
}

.lovely-container {
    display: flex;
    gap: 12px;
}

.lovely-title {
    font-family: SVN-Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    color: var(--Neutral-Color-100, #00171F);
    
}

.dash-parent {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.responsive-lovely {
    display: none;
}


/* media screen on mobile phones */

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        width: 414px;
    }

    .responsive-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .nav-main, .share a, .sku, .big-dog {
        display: none;
    }

    .link-arrow {
        position: absolute;
        top: 240px;
        left: 16px;
    }

    .link-arrow-1 {
        position: absolute;
        top: 234px;
        left: 346px;
        z-index: 1;
    }

    .left-arrow {
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 16px;
    }

    .warning-icon {
        position: absolute;
        top: 15px;
        right: 16px;
    }

    .container {
        border: none;
    }

    .little-img-dog {
        position: absolute;
        left: 16px;
        top: 529px;
        gap: 11px;
    }

    .little-1 {
        height: 57px;
        width: 57px;
    }

    .hr-arrow {
        position:   absolute;
        left: 195px;
        top: 624px;
    }

    .shiba-inu {
        position: absolute;
        left: 16px;
        top: 650px;
        z-index: 1;
    }

    .shiba {
        position: absolute;
        left: 16px;
        top: 665px;
    }
    
    .shiba-price {
        position: absolute;
        left: 16px;
        top: 735px;
    }

    .monito-btn {
        position: absolute;
        left: 156px;
        top: 790px;
    }

    .contact-btn {
        position: absolute;
        left: 16px;
        z-index: 3;
        top: 790px;
    }

    .shiba-container-parent {
        position: absolute;
        left: 395px;
        top: 588px;
        width: 0px;
    }

    .hr {
        width: 190px;

    }

    .guarantee-pets {
        position: absolute;
        left: 16px;
        top: 1509px;
        width: 370px;
        height: 86px;
        display: block;
    }

    .img-parcent {
        position: relative;
        left: 10px;
    }

    .lovely-container {
        display: none;
    }

    .lovely-title {
        position: absolute;
        top: 1637px;
        left: 16px;
    }

    .responsive-lovely {
        display: block;
        position: absolute;
        display: flex;
        gap: 12px;
        left: 16px;
        top: 1709px;
    }

    .dash-parent {
        position: absolute;
        left: 179px;
        top: 2049px;
        z-index: 1;
    }

    .container {
        width: 414px;
        display: block;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .share {
        position: absolute;
        left: 332px;
        top: 832px;
        display: block;
    }

    

}  